<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add category</title>
</head>
<body>

    <div>
        <form class="category" method="post" action="#">
            Add new category:<br><br>
            <label>Name</label><br>
            <input name="name" type="text" maxlength="255" value=""/><br>
            <label>Description</label><br>
            <input name="description" type="text" maxlength="255" value=""/><br>
            <button type="submit" name="submit" value="">Send</button>
        </form>
    </div>

</body>
</html>