<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ExpensesReport main page</title>
    <style type="text/css">
        body
        {
        color: black;
        }

        .menu
        {
        cursor: default;
        text-decoration: none;
        color: black;
        }

        .menu:hover
        {
        color: red;
        }
</style>
</head>
<body>
    <h2><center>Welcomme</center></h2>
        to <b>ExpensesReport</b>, where you can fast and easy create you own report.
        Then you can download it as pdf or xlsx file.<br><br>
        <h3>Menu:</h3>
        <a href="add_category" class="menu">Add category</a><br>
        <a href="show_categories" class="menu">Show categories</a><br><br>
        <a href="add_expense" class="menu">Add expense</a><br>
        <a href="show_expenses" class="menu">Show expenses</a><br><br>
        <a href="show_report" class="menu">Look at report</a><br><br>
        <a href="make_pdf" class="menu">Save report as pdf file</a><br>
        <a href="make_xlsx" class="menu">Save report as xlsx file</a>



</body>
</html>
